canvas {
    background-image: linear-gradient(
        to right,
        #09405c,
        #0c5a82,
        #1489c2,
        #0c5a82,
        #09405c
    );
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999;
}

#container {
    position: relative;
}

#container canvas,
#overlay {
    width: 100%;
}
